.new-tweet {
  align-self: center;
  width: 65%;
  padding-bottom: 50px;
}

label {
  font-weight: normal;
  font-style: italic;
  font-size: 21px;
}

#tweet-text {
  border-bottom: solid;
  background-color: #f4f1ec;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 80%; 
  height: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  font-family: 'Bungee', cursive;
  font-size: smaller;
}

button {
  color: white;
  background-color: #647d99;
  border-radius: 7px;
}