.new-tweet {
  align-self: center;
  width: 100%;
  padding-bottom: 30px;
  margin-top: 3%;
}

.error-messages {
  display: flex;
  justify-content: center;
  border: solid;
  color: #b5838d;
  border-block-color: #b5838d;
  border-radius: 10px;
}

#tweet-text {
  border-bottom: solid;
  border-bottom-width: medium;
  background-color: #f4f1ec;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  width: 100%;
  font-size: 80%;
  resize: none;
}

#tweet-text[placeholder] {
  font-weight: bold;
}

#tweet-text:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  font-family: 'Bungee', cursive;
  font-size: smaller;
}

button {
  color: white;
  background-color: #735d78;
  border-radius: 7px;
}