/* Article has 3 children: header, p and footer */
article {
  width: 100%;
  border: solid;
  border-width: medium;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 250px;
  padding-left: 10px;
  padding-right: 10px;
  color: #55595c;
  margin-top: 4%;
}

article:hover {
  box-shadow: 5px 5px 0px 0px #b392ac;
}

/* Header section under article. Header has 2 children: 2 divs for the avatar/name and username */
.tweet-container header {
  background-image: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1.5%;
  height: 150px;
  font-size: smaller;
}

.image-container {
  display: flex;
  align-items: center;
}

.image-container div {
  margin-left: 10px;
}

.username {
  color: #c7cccb;
  font-weight: 600;
}

/* p has no children. They have to be bordered up though, but only on the bottom */
p {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin-top: 2%;
  font-size: smaller;
  font-weight: 600;
  overflow-wrap: break-word;
}

/* footer has 2 children: 2 div for the date and hover items */
footer {
  border-top: solid;
  border-top-width: medium;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  font-size: 13px;
}

/* footer div has 3 children: they are 3 different icons */
/* More space between the icons */
.icons {
  color: #735d78;
  font-size: 15px;
}

.icons i {
  margin-left: 10px;
}

.icons i:hover {
  color: #b392ac;
}