article {
  width: 100%;
  border: solid;
  border-width: medium;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  color: #55595c;
  margin-top: 4%;
}

article:hover {
  box-shadow: 5px 5px 0px 0px #b392ac;
}

.tweet-container header {
  background-image: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1.5%;
  font-size: smaller;
}

.image-container {
  display: flex;
  align-items: center;
}

.image-container div {
  margin-left: 10px;
}

.username {
  color: #c7cccb;
  font-weight: 600;
}

p {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin-top: 2%;
  font-size: smaller;
  font-weight: 600;
  overflow-wrap: break-word;
}

footer {
  border-top: solid;
  border-top-width: medium;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  font-size: 13px;
}

.icons {
  color: #735d78;
  font-size: 15px;
}

.icons i {
  margin-left: 10px;
}

.icons i:hover {
  color: #b392ac;
}